@import "tailwindcss";

@theme {
  --color-primary: #0404ae;
  --color-background-light: #f5f5f8;
  --color-background-dark: #0f0f23;
  --font-display: "Manrope", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-display);
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
